In [9]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
city_data_to_load = "data/city_data.csv"
ride_data_to_load = "data/ride_data.csv"

# Read the City and Ride Data
city_data = pd.read_csv(city_data_to_load)
ride_data = pd.read_csv(ride_data_to_load)

# Combine the data into a single dataset
pyber_data = pd.merge(city_data, ride_data, how="left", on=["city", "city"])
# Display the data table for preview
pyber_data.head()

          city  driver_count   type                 date   fare        ride_id
0  Richardfort            38  Urban  2018-02-24 08:40:38  13.93  5628545007794
1  Richardfort            38  Urban  2018-02-13 12:46:07  14.00   910050116494
2  Richardfort            38  Urban  2018-02-16 13:52:19  17.92   820639054416
3  Richardfort            38  Urban  2018-02-01 20:18:28  10.26  9554935945413
4  Richardfort            38  Urban  2018-04-17 02:26:37  23.00   720020655850

In [12]:
city_avg_fare = pyber_data.groupby("city")["fare"].mean()

city_total_rides = pyber_data.groupby("city")["ride_id"].count()

city_total_drivers = pyber_data.groupby("city")["driver_count"].first()

city_type = pyber_data.groupby("city")["type"].unique()

city
Amandaburgh                [Urban]
Barajasview                [Urban]
Barronchester           [Suburban]
Bethanyland             [Suburban]
Bradshawfurt               [Rural]
Brandonfort             [Suburban]
Carriemouth                [Urban]
Christopherfurt            [Urban]
Colemanland             [Suburban]
Davidfurt               [Suburban]
Deanville                  [Urban]
East Aaronbury          [Suburban]
East Danielview         [Suburban]
East Kaylahaven            [Urban]
East Kentstad           [Suburban]
East Marymouth          [Suburban]
Erikaland                  [Urban]
Garzaport                  [Rural]
Grahamburgh                [Urban]
Grayville               [Suburban]
Harringtonfort             [Rural]
Huntermouth                [Urban]
Hurleymouth                [Urban]
Jerryton                   [Urban]
Jessicaport                [Rural]
Johnton                    [Urban]
Joneschester               [Urban]
Josephside              [Suburban]
Justinberg                 [Urban]
Karenberg                  [Urban]
                           ...
South Evanton              [Urban]
South Jack                 [Urban]
South Jennifer             [Rural]
South Karenland            [Urban]
South Latoya               [Urban]
South Marychester          [Rural]
South Michelleport         [Urban]
South Phillip              [Urban]
South Saramouth            [Rural]
South Teresa            [Suburban]
Taylorhaven                [Rural]
Valentineton               [Urban]
Veronicaberg            [Suburban]
Victoriaport            [Suburban]
West Angela                [Urban]
West Anthony               [Urban]
West Christopherberg       [Urban]
West Ericstad              [Urban]
West Gabriel               [Urban]
West Hannah             [Suburban]
West Heather               [Rural]
West Heidi                 [Urban]
West Josephberg            [Urban]
West Kimmouth           [Suburban]
West Patrickchester        [Urban]
West Robert                [Urban]
West Samuelburgh           [Urban]
Williamsonville         [Suburban]
Williamsstad               [Urban]
Williamsview               [Urban]
Name: type, Length: 120, dtype: object

## Bubble Plot of Ride Sharing Data

In [ ]:
# Obtain the x and y coordinates for each of the three city types
x_axis = np.arrange(0,100,10)
# Build the scatter plots for each city types

# Incorporate the other graph properties

# Create a legend

# Incorporate a text label regarding circle size

# Save Figure

In [ ]:
# Show plot
plt.show()

## Total Fares by City Type

In [ ]:
# Calculate Type Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Rides by City Type

In [ ]:
# Calculate Ride Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Drivers by City Type

In [ ]:
# Calculate Driver Percents

# Build Pie Charts

# Save Figure

In [ ]:
# Show Figure
plt.show()